.gut-80{
    width: 80%;
    margin: 0 auto;
}

.page-banner{
    text-align: center;
    padding: 10em 0em;
}

.page-content{
    padding-bottom: 20em;
}

.image-collage{
    max-width: 100%;
}

.page-content p{
    font-size: 1.4rem;
    line-height: 2.5rem;

}

.page-content .title{
    font-size: 2.8rem;
    padding-bottom: 1em;
}



/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) {}

/* // X-Large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (max-width: 1400px) {}


/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .page-content .title{
        font-size: 1.8rem;
    }
    .page-content p{
        font-size: 1.2rem;
    
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    
}